html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

* {
  box-sizing: border-box; }

main {
  font-family: Trattatello; }

body {
  background-color: #282C34; }

#wrapper {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 20px;
  background-image: url(http://i.imgur.com/fjBiyTr.gif);
  opacity: .8;
  background-color: black;
  height: 600px;
  border: 1px solid gray;
  border-radius: 50px; }
  #wrapper::after {
    clear: both;
    content: "";
    display: table; }
  #wrapper a {
    font-size: 40px;
    color: #E2C08D;
    text-decoration: none;
    padding-right: 50px;
    padding-left: 50px; }

.menuTxt {
  display: inline-block;
  color: #fff;
  font: #fff;
  font-size: 50px; }

#return a {
  font-size: 10px;
  margin-bottom: 100px;
  vertical-align: bottom; }
